<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BRAND LOGO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap" rel="stylesheet">
</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>



  <div id="top">
    <nav class="navbar navbar-expand-lg  text-dark navbar-fixed-top " style="background-color: #e3f2fd;color:black;">
      <div class="container-fluid">
        <a class="navbar-brand ms-5" href="/">
<!--          <img src="static\images\brain2.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">-->
            <h2 class="navhead">Real Logo Detector</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="static\about.html">about</a>-->
<!--            </li>-->

          </ul>


        </div>
      </div>
    </nav>
  </div>

<br>


<div id="content-section" class="container col-lg-6">

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3 ">
          <div class=" col-lg-12 col-md-12 shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                  <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="static/images/brands/applec.jpg" class="d-block w-100 img-fluid" alt="..." height="700" >
                            </div>
                            <div class="carousel-item">
                            <img src="static/images/brands/nike.jpg" class="d-block w-100 img-fluid" alt="..." >
                            </div>
                            <div class="carousel-item">
                            <img src="static/images/brands/colac.jpg" class="d-block w-100 img-fluid" alt="..." >
                            </div>
                            <div class="carousel-item">
                            <img src="static/images/brands/sbc.jpg" class="d-block w-100 img-fluid" alt="..." >
                            </div>
                            <div class="carousel-item">
                            <img src="static/images/brands/spritec.jpg" class="d-block w-100 img-fluid" alt="..." >
                            </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
          </div></div>


<!-- _______________________________________________________________________________________           -->
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3  d-flex justify-content-evenly ">
        <div class="col-lg-4 col-md-4 col-lg-6 shadow-lg  mb-5 bg-body-tertiary rounded">
        <div class="card" style="width:100%;height:100%;border:1px solid white;margin-left:10px;">
            <br>
                <li class="list-group-item"><h3><b>CHECK HERE</b></h3></li>
                <form class="m-2" method="POST" action="{{url_for('predictor')}}" enctype="multipart/form-data">
                <label>Image:</label>
                <input type="file" name='image' class='btn' required><br><br>

                <a href="/" class="btn btn-outline-danger" tabindex="-1" role="button" aria-disabled="true">Reset</a>
                <input type="submit" class="btn btn-warning text-center">

                </form>
        </div>
        </div>
                <div class="col-lg-4 col-md-6 card shadow-md shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                <h4>Training Accuracy</h4>
                <div class="progress">
                <div class="progress-bar" role="progressbar"> <b class="text-dark">0%</b></div>
                </div>
                <br>
                <h4>Testing Accuracy</h4>
                <div class="progress">
                <div class="progress-bar2 text-center" style="{color:white;}" role="progressbar"> <b class="pgb2">0%</b></div>
                </div>
                <br>
                <h4>Dataset </h4>
                <div class="progress">
                <div class="progress-bar3 text-center" role="progressbar"> <b class="text-dark">0%</b></div>
                </div>
                </div>

    </div>



<!-- _______________________________________________________________________________________           -->

  <br>
          <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 d-flex justify-content-center mb-5 ">
          <div class=" col-lg-10  border shadow-lg  bg-body-tertiary rounded">
                      <div id="mid2">
                    <br><br>
                    <h4>🛠 REQUIREMENTS:</h4>
                    <ul>
                      <li class="req"><b> We request you to upload the image in '.jpg' format only. </b></li>

                    </ul>
                    <h4>🔍 HOW DOES THIS TOOL WORK ?</h4>
                    <ul>
                      <li class="req">This tool makes its predictions based on the predictions made by a Deep Learning model </li>
                    </ul>
                  </div>

        </div>
          </div>
     <div class="row row-cols-1 row-cols-sm-1 mt-3 row-cols-md-1 d-flex justify-content-center  ">
          <div class=" col-lg-10  border shadow-lg  bg-body-tertiary rounded">

                <img src="static/images/dataset.jpg" class="d-block w-100 img-fluid" alt="..." >
        </div>
          </div>
<!--_____________________________________________________________________________________________-->
  <script>
    window.addEventListener('load', function() {
  var prog = 95; // set the progress value
  var progressBar = document.querySelector('.progress-bar');

  // animate the progress bar width
  var width = 0;
  var intervalId = setInterval(function() {
    if (width >= prog) {
      clearInterval(intervalId);
    } else {
      width++;
      progressBar.style.width = width + '%';
      progressBar.innerHTML = '<b class="text-dark">' + width + '%</b>';
    }
  }, 10);

  var prog2 = 93; // set the progress value
  var progressBar2 = document.querySelector('.progress-bar2');

  // animate the progress bar width
  var width1 = 0;
  var intervalId1 = setInterval(function() {
    if (width1 >= prog2) {
      clearInterval(intervalId1);
    } else {
      width1++;
      progressBar2.style.width = width1 + '%';
      progressBar2.innerHTML = '<b class="text-dark">' + width1 + '%</b>';
    }
  }, 20);


  var prog3 = 96; // set the progress value
  var progressBar3 = document.querySelector('.progress-bar3');

  // animate the progress bar width
  var width2 = 0;
  var intervalId2 = setInterval(function() {
    if (width2 >= prog3) {
      clearInterval(intervalId2);
    } else {
      width2++;
      progressBar3.style.width = width2 + '%';
      progressBar3.innerHTML = '<b class="text-dark">' + (width2*10) + '</b>';
    }
  }, 20);



  });
</script>
<!--_____________________________________________________________________________________________-->

</div>
    <div id="end">
      <br><br>
      <br><br>
            <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
            <!-- Section: Social media -->
                <section class="mb-4">
                <a href="#" target = "_blank"></a>
                <!-- Twitter -->
                </section>


            <!-- Copyright -->
            <div class="text-center p-3" style="">
            <p>
            All copyright reserved  ©
            <a class="text-white" href="#">2023</a>

            </p>
            </div>
            </div>
            <!-- Copyright -->
            </footer>
      <!-- Footer -->
    </div>


</body>
<!--_____________________________________________________________________________________________-->

</html>
